#company-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 100px;
}

.companybtn:hover {
    background-color: #f7bd67;
    border: #f7bd67 2px solid;
}

.companybtn-focused {
    background-color: #f7bd67;
    border: #f7bd67 2px solid;
}

#overview,
#posts,
#members,
#edit {
    margin: 10px 100px;
}

#overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#overview-body {
    display: block;
}

#edit-btn,
#back-btn,
#create-btn {
    bottom: 10%;
    position: fixed;
}

#post-btn {
    display: flex;
    justify-content: right;
}

#edit {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: larger;
}

input[type="text"], textarea {

    background-color : #fff; 
    padding: 10px;
  }

#posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post,
.post-maximized {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.post {
    padding: 15px 15px;
    padding-bottom: 0px;
}

#post-nav {
    align-self: flex-end;
}

#ticket-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: white; */
    margin-bottom: 10px;
}

#ticket-form h2 {
    margin: 20px 0 35px;
}

#ticket-form .field {
    margin-bottom: 30px;
}

#ticket-form .field label {
    font-weight: 700;
}

#ticket-form .field p {
    margin: 2px 0 10px;
}

#ticket-form .custom-btn {
    margin-right: 12px;
}

#feedback-btn:hover {
    background-color: #f7bd67;
    border: #f7bd67 2px solid;
}

.more:hover,
.moreicon:hover {
    color: #f7bd67;
}

.more {
    padding-right: 5px;
    vertical-align: middle;
}

.moreicon {
    color: #f8d59f;
}

.ticket {
    margin-bottom: 15px;
}

#members {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.member {
    width: 100%;
}