#company-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 100px;
}

.companybtn:hover {
    background-color: #f7bd67;
    border: #f7bd67 2px solid;
}

.companybtn-focused {
    background-color: #f7bd67;
    border: #f7bd67 2px solid;
}

#overview,
#posts,
#members {
    margin: 10px 100px;
}

#overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#overview-body {
    display: block;
}

#posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post,
.post-maximized {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.post {
    padding: 15px 15px;
    padding-bottom: 0px;
}

.more:hover,
.moreicon:hover {
    color: #f7bd67;
}

.more {
    align-self: flex-end;
    padding-right: 5px;
}


.moreicon {
    color: #f8d59f;
}

.ticket {
    margin-bottom: 15px;
}

#members {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.member {
    width: 100%;
}