button:hover {
    background-color: #f7bd67;
    transition: 0.2s;
}

.pill:hover,
.pill:focus-within {
    border: #f7bd67 2px solid;
}


#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #f8d59f 2px solid;
    border-radius: 10px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 35px;
    width: 500px;
}

#login-form {
    display: none;
    flex-direction: column;
    gap: 10px;
}

#reg-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#error, #err {
    display: none;
    margin-top: 20px;
    background-color: #e4563d;
    color: whitesmoke;
    border: 2px solid darkred;
    text-align: center;
    justify-content: center;
  }
  #labels{
    justify-content: center;
    text-align: center;
  }