#navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7bd67;
    padding: 10px 20px;
    width: 100%;
}

#navbar a:link,
a:visited {
    color: black;
}

#navbar-items {
    display: flex;
    flex-direction: row;
    line-height: 30px;
}

.navbar-item {
    background-color: #f8d59f;
    border: #f8d59f 2px solid;
    font-size: 14px;
    padding: 0 15px 0 15px;
}

.navbar-item:hover,
.navbar-item:focus-within {
    background-color: blanchedalmond;
    border: blanchedalmond 2px solid;
}

#navbar-title {
    font-size: 20px;
    font-weight: bold;
}

#navbar-search {
    font-size: 14px;
    margin-left: 5px;
}