* {
    font-family: Roboto, sans-serif;
}

body {
    background-color: blanchedalmond;
    margin: 0;
    padding-top: 50px;
}

h1,
h2,
h3,
p {
    padding: 0;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

i,
input {
    vertical-align: middle;
}

button,
input {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
    outline-offset: 0;
}

textarea:focus,
input:focus {
    outline: none;
    outline-offset: 0;
}

button,
.card,
.pill,
.tag {
    transition: 0.2s;
}

.pill,
.tag {
    float: left;
    font-size: 14px;
    line-height: 30px;
}

.card,
.tag {
    border: #f8d59f 2px solid;
    border-radius: 10px;
    padding: 10px 10px;
}

.pill {
    border: #f8d59f 2px solid;
    background-color: #f8d59f;
    border-radius: 10px;
    line-height: 30px;
    margin-right: 5px;
    padding: 0px 10px;
}

.card {
    height: fit-content;
}

.card:hover {
    border-color: #f7bd67;
}

.tag {
    line-height: 30px;
    margin-right: 5px;
    padding: 0px 10px;
    width: fit-content;
    cursor: pointer;
}

.tag:hover {
    background-color: #f8d59f;
}

.infobox {
    background-color: #f8d59f;
    border-radius: 10px;
    padding: 15px 25px;
}